<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content=''>
    <meta name='keywords' content=''>
    
    <!-- Media link -->
    <!-- Localization en_US, ru_RU... -->
    <meta property='og:locale' content=''>
    <meta property='og:type' content='article'>
    <!-- Title -->
    <meta property='og:title' content=''>
    <!-- Description -->
    <meta property='og:description' content=''>
    <!-- Image -->
    <meta property='og:image' content=''>
    <!-- URL -->
    <meta property='og:url' content=''>
    <!-- Name -->
    <meta property='og:site_name' content=''>
    
    <!-- Twitter media link -->
    <meta name='twitter:card' content='summary'>
    <!-- Author -->
    <meta name='twitter:site' content=''>
    <!-- Title -->
    <meta name='twitter:title' content=''>
    <!-- Description -->
    <meta name='twitter:description' content=''>
    <!-- Image -->
    <meta name='twitter:image' content=''>
    
    <!-- Favicon -->
    <!--If SVG type='image/svg+xml'-->
    <link rel='icon' type='image' href=''>

    <!-- Title -->
    <title>@@title</title>

    <!-- Styles -->
    <link rel="stylesheet" href="@css/style.min.css">
    

    <!-- Scripts -->
    <script type="module" src="@js/script.min.js"></script>
</head>