$font-size: (
    'small': (
        11: .6875rem,
        14: .875rem,
        16: 1rem,
        18: 1.125rem,
        20: 1.25rem,
        22: 1.35rem,
        26: 1.5rem,
        36: 1.75rem,
        48: 2rem,
        64: 2.5rem,
    ),
    'mid': (
        11: .6875rem,
        14: .875rem,
        16: 1rem,
        18: 1.125rem,
        20: 1.25rem,
        22: 1.375rem,
        26: 1.625rem,
        36: 2rem,
        48: 2.5rem,
        64: 3.5rem,
    ),
    'big': (
        11: .6875rem,
        14: .875rem,
        16: 1rem,
        18: 1.125rem,
        20: 1.25rem,
        22: 1.375rem,
        26: 1.625rem,
        36: 2.25rem,
        48: 3rem,
        64: 4rem,
    )
);

$line-height: (
    s: 1,
    m: 1.15,
    b: 1.25,
    xb: 1.45,
);

$font-weight: (
    light: 300,
    regular: 400,
    sbold: 500,
    bold: 700,
);