.collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__title {
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    &__item {
    }

    &__cta {
    }
}
