@use '../alias/medias' as *;

.hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    min-height: var(--height-100vh);

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__text {
        max-width: 420px;
    }
}

@include bp-up(medium) {
    .hero {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 4rem 0;
        min-height: unset;

        &__content {
            max-width: 540px;
            text-align: start;
            align-items: stretch;
        }
    }
}