@use '../alias/animation' as *;

.team-cards {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    height: fit-content;

    &__card {
        position: relative;
        grid-row: 1 / 2;
        grid-column: 1 / 2;

        animation-name: switch-out;
        @include switch-anim;

        &:not(.team-cards__card--active) {
            transform: translateX(10%) scale(.9);
        }

        &--active {
            z-index: var(--i-mid);
            animation-name: switch-in ;
            @include switch-anim;
        }
    }

    &__teammate {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        left: 0;
        gap: .25rem;
        padding: .25rem .75rem;
        background-color: hsla(var(--clra-ntrl-1) / .85);
        border-radius: 0 20px 0 30px;
    }

    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
    
    &__name {
        font-size: var(--fz-16);
    }

    &__post {
        font-size: var(--fz-11);
    }

    &__bg {
        min-width: 200px;
        max-width: 410px;
        min-height: 200px;
        max-height: 410px;
        aspect-ratio: 1 / 1;
        border-radius: var(--br-def);
        overflow: hidden;
    }
}